/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 3, 2022, 1:48:18 PM
    Author     : Dell
*/

/*
    main color: color make us feel hungry, yellow & orange: #FFFC00
    background color: rgba(255, 252, 221, 1)
    text color: rgba(36, 35, 0, 1)
*/
/*:root{
    
}*/

body{
    background-color: rgba(255, 252, 221, 1);
    color: rgba(36, 35, 0, 1);
}

.navbar-brand{
    font-family: 'Lobster', cursive;
    color: rgba(36, 35, 0, 1);
}

.form-horizontal h1{
    color: rgba(255, 252, 221, 1);
    background-color: rgba(36, 35, 0, 1);
    text-align: center;
}